// /src/styles/index.js

@import './_global.scss';

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: helvetica;
	background-color: $lightGray;
}

#_App{
	max-width: 1000px;
	margin: auto;
	position: relative;
}

nav{
	background-color: $darkBlue;
	height: 57px;
}

.header{
	padding: 20px 0;

	> div{
		display: inline-block;
		vertical-align: middle;
		width: 50%;

		&:last-child{ text-align: right; }
	}
}

.title{
	font-weight: 600;
	font-size: 30px;
	color: $darkBlue;
}

.task-btn{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	padding: 10px 15px;
	@include bRadius(5px);
	cursor: pointer;
	@include noUserSelect();
	outline: none;
	border: none;

	&.add{ background-color: $gray; }
	&.save{ 
		background-color: $green; 
		&[disabled]{ opacity: 0.3; }
	}


	&:last-child{ margin: 0 0 0 10px; }
	&:active{ @include activeBtnClick(); }
}

.task-item{
	background-color: #fff;
	@include bRadius(5px);
	padding: 15px 35px;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
	min-height: 186px;
	position: relative;
	margin: 0 0 12px 0;
	@include fadeInLeft(0.4s);

	> div{ color: $gray; }

	.reorder, .trash{
		position: absolute;
		top: 15px;
		font-size: 12px;
	}

	.reorder{ 
		cursor: move; 
		left: 10px;
	}

	.name{ 
		cursor: text; 
		font-size: 14px;
		font-weight: 600;
	}

	.trash{ 
		cursor: pointer; 
		right: 20px;
		font-size: 20px;
	}
}

.alert{
	border: 2px solid $green;
	background-color: $lightGreen;
	@include bRadius(5px);
	position: absolute;
	bottom: 50px;
	right: 20px;
	color: $green;
	padding: 10px 10px 10px 20px;
	font-size: 13px;
	font-weight: 600;

	> div{
		display: inline-block;
		vertical-align: middle;

		&:last-child{ 
			margin: 0 0 0 200px; 
			font-size: 18px;
		}
	}
}

.loading{
	color: $darkBlue;
	margin: 0 0 10px;
}

.error{
	color: $error;
	border: 2px solid $error;
	background-color: $lightError;
	@include bRadius(5px);
	font-size: 14px;
	padding: 10px;
	cursor: pointer;
	display: inline-block;

	> div{
		display: inline-block;
		vertical-align: middle;

		&:last-child{ margin: 0 0 0 5px; }
	}
}

.empty-msg{
	color: $darkBlue;
}

@media screen and (max-width: 699px){
	#_App{
		padding: 0 10px;
	}	
}